/** BUTTON **/
.btn-purple {
    color: #fefeff;
    background-color: #6662ec;
}

.btn-purple:hover {
    color: #fefeff;
    background-color: #8181ec;
}
/** TABLE **/
.panel .table-responsive {
    padding: 10px;
}
.table-border {
    background-color: #FFF;
    border: 0 solid #E7E7E7;
}

table .action {
    width: 9.33% !important;
    padding: 5px 0 7px 7px;
}

table .action-one {
    width: 4.33% !important;
}

table .action-three {
    width: 14.23% !important;
}

table .action .btn {
    display: inline-block;
    padding: 8px 10px;
}

.table .action .btn-group-xs > .btn, .table .action .btn.btn-xs {
    padding: 2px 10px;
}

table .id, table .id .sort {
    color: #656565;
    width: 4.33% !important;
}

.table > tbody > tr > .no-line {
    border-top: none;
}

.table > thead > tr > .no-line {
    border-bottom: none;
}

.table > tbody > tr > .thick-line {
    border-top-width: 2px;
    border-top-style: solid;
}